
<%= sanitize page_title_with_button('Painel', true) %>


<%= render 'layouts/dashboard_main_top' %>
<%= render '/people/people_data' %>
<%= render 'layouts/dashboard_main_bottom' %>

  <p id="notice"><%= notice %></p>

<section class="content">
  <%# render 'students' %>
  <%# render 'instructors' %>
  <%# render 'inactive' %>
</section>