
<div class="col-md-4">
  <!-- Profile Image -->
  <div class="card card-primary card-outline">
    <div class="card-body box-profile">
      <h3 class="profile-username text-center">Pagamentos</h3>

      <p class="text-muted text-center"><b><%= br_month(@today.month) %></b></p>

      <% if @payment.blank? %>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>Nenhum pagamento para o mês atual foi gerado</b>
            <br>
          </li>
        </ul>
        <%= button_to 'Gerar Novo Pagamento', new_student_payment_path(@person), class: 'btn btn-primary btn-block'%>
        <br>
      <% else %>
        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>Status</b><a class="float-right"><%= @payment.paid? ? 'Pago' : 'Em Aberto' %></a>
          </li>
          <li class="list-group-item">
            <b>Vencimento</b> <a class="float-right"><%= date_format(@payment.due_date) %></a>
          </li>
          <li class="list-group-item">
            <b>Valor</b> <a class="float-right"><%= to_money(@payment.student_plan.final_tuition_fee) %></a>
          </li>
          <% if !@payment.paid_fee.nil? && (@payment.paid_fee < @payment.payment_fee) %>
            <li class="list-group-item">
              <b>Valor Pago</b> <a class="float-right"><%= to_money(@payment.payment_fee) %></a>
            </li>
          <% end %>
        </ul>
        <% if @payment.payment_fee.nil? %>
          <%= button_to 'Receber Pagamento', recive_payment_path(@payment), class: 'btn btn-primary btn-block' %>
        <% elsif @payment.payment_fee < @payment.student_plan.final_tuition_fee %>
          <%= button_to 'Ajustar Pagamento', recive_payment_path(@payment), class: 'btn btn-primary btn-block' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
