<%= sanitize page_title_with_button('Membros', false) %>

<%= render 'people_data' %>

<p id="notice"><%= notice %></p>

<section class="content">
  <%= render 'students' %>
  <br><br><br>
  <%= render 'instructors' %>
  <br><br><br>
  <%# render 'inactive' %>
</section>