<p id="notice"><%= notice %></p>

<h1>Class Instructors</h1>

<table>
  <thead>
    <tr>
      <th>Instructor</th>
      <th>Pakua class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_instructors.each do |class_instructor| %>
      <tr>
        <td><%= class_instructor.instructor %></td>
        <td><%= class_instructor.pakua_class_id %></td>
        <td><%= link_to 'Show', class_instructor %></td>
        <td><%= link_to 'Edit', edit_class_instructor_path(class_instructor) %></td>
        <td><%= link_to 'Destroy', class_instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class Instructor', new_class_instructor_path %>
