<%= sanitize page_title_with_button('Pagamentos', false) %>
<p id="notice"><%= notice %></p>

<section class="content">
  <%= generate_index_table({table_name: "Pagamentos do Mês Atual", model: Payment, objects: @current_payments, crud_paths: true, show_attributes: ['student_name', 'payment_fee', 'payment_status'], translated_names: ['Nome', 'Valor', 'Status']}).html_safe %>
  <br><br>
  <%= generate_index_table({table_name: "Pagamentos de Meses Anteriores", model: Payment, objects: @non_current_payments, crud_paths: true, show_attributes: ['student_name', 'payment_fee', 'payment_status'], translated_names: ['Nome', 'Valor', 'Status']}).html_safe %>
  <br><br>
  <%= generate_index_table({table_name: "Pagamentos Em Aberto", model: Payment, objects: @not_paid, crud_paths: true, show_attributes: ['student_name', 'payment_fee', 'payment_status'], translated_names: ['Nome', 'Valor', 'Status']}).html_safe %>
</section>