<section class="content">
  <div class="container-fluid">
    <%= form_with(model: discount, local: true) do |form| %>
      <% if discount.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

          <ul>
            <% discount.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Desconto</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="form-group">
                <h4><%= form.label :kind_of_plan, 'Tipo de Desconto' %></h4>
                <%= form.select(:kind_of_plan, options_for_select(Discount.kind_of_plans.map {|k,v| [k.humanize.capitalize, Discount.kind_of_plans.key(v)] }), {}, class: "form-control rounded-0" )  %>
              </div>

              <div class="form-group">
                <h4 class="mb-0"><%= form.label :discount_percentage, 'Porcentagem de Desconto', class: "mb-0" %></h4>
                <%= form.text_field :discount_percentage, class: "form-control form-control-border" %>
              </div>

              <div class="form-group">
                <h4><%= form.label :starts_at, 'Início de vigência' %></h4>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                  </div>
                  <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" id="discount_starts_at" name="discount[starts_at]" value="<%= @discount.starts_at.nil? ? date_to_string(Date.today) : date_to_string(@discount.starts_at) %>">
                </div>
                <!-- /.input group -->
              </div>

              <div class="actions">
                <%= form.submit 'Salvar', class: 'btn btn-primary' %>
                <%= link_to 'Voltar para Mensalidades', plans_index_path, class: 'btn btn-secondary' %>
                <%= link_to 'Voltar para Descontos', discounts_path, class: 'btn btn-secondary' %>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    <% end %>
  </div>
</section>