<section class="content">
  <div class="container-fluid">
    <%= form_with(model: pakua_class, local: true) do |form| %>
      <% if pakua_class.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(pakua_class.errors.count, "error") %> prohibited this pakua_class from being saved:</h2>

          <ul>
            <% pakua_class.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Aula</h3>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
              <div class="form-group">
                <h4 class="mb-0"><%= form.label :modality, 'Modalidade' %></h4>
                <%= form.select(:modality, options_for_select(@modalities.map { |k, _| [modality_name(k.to_s), k]}, @pakua_class.modality), {}, class: "form-control rounded-0" )  %>
              </div>

              <div class="form-group">
                <h4 class="mb-0"><%= form.label :person_id, 'Instrutor(a)' %></h4>
                <% if @pakua_class.persisted? && @pakua_class.modality.present?
                    query = Person.instructors_of(@pakua_class.modality)
                  else
                    query = Person.instructors
                  end %>
                <%= form.select(:person_id, (query.collect {|u| [u.name, u.id]}), { prompt: 'Sem Instrutor(a)' }, class: "form-control rounded-0" )  %>
              </div>

              <div class="form-group">
                <h4 class="mb-0"><%= form.label :day_of_week, 'Dia da Semana' %></h4>
                <%= form.select(:day_of_week, options_for_select(@days_of_week.map { |k, _| [day_of_week_name(k.to_s), k]}), {}, class: "form-control rounded-0", include_blank: true )  %>
              </div>

              <div class='form-group'>
                <h4 class="mb-0"><%= form.label :hour, 'Horário' %></h4>
                <div class="input-group">
                  <%= form.number_field :hour, class: "form-control", value: @pakua_class.persisted? ? @pakua_class.hour : '19', min: 1, max: 24 %>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      h
                    </span>
                  </div>
                  <%= form.number_field :minutes, class: "form-control", value: @pakua_class.persisted? ? @pakua_class.minutes : '00', min: 0, max: 59 %>
                  <div class="input-group-append">
                    <span class="input-group-text">
                      min
                    </span>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <h4 class="mb-0"><%= form.label :duration, 'Duração (em minutos)' %></h4>
                <%= form.number_field :duration, class: "form-control", value: @pakua_class.persisted? ? @pakua_class.duration : '60', min: 1 %>
              </div>

              <div class="form-group">
                <h4 class="mb-0"><%= form.label :active, 'Status' %></h4>
                <%= form.select(:active, [["Ativa", true], ["Inativa", false]], {selected: @pakua_class.active? ? "Ativa" : "Inativa"}, class: "form-control rounded-0" )  %>
              </div>

              <div class="actions">
                <%= form.submit 'Salvar', class: 'btn btn-primary' %>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    <% end %>
  </div>
</section>
