<%= render 'layouts/dashboard_content_top' %>

<%= render 'layouts/dashboard_content_bottom' %>

<%= render 'layouts/dashboard_main_top' %>
<% if @class_schedule.blank? %>
  Nenhuma aula definida
<% else%>
  <%= render 'class_schedule' %>
<% end %>
<%= render 'layouts/dashboard_main_bottom' %>

<p id="notice"><%= notice %></p>

<section class="content">

</section>