<%= render 'layouts/dashboard_content_top' %>
<div class="col-sm-6">
  <h1 class="m-0">Planos</h1>
</div><!-- /.col -->
<%= render 'layouts/dashboard_content_bottom' %>

<%= render 'layouts/dashboard_main_top' %>

<%= render 'layouts/dashboard_main_bottom' %>

  <p id="notice"><%= notice %></p>

<section class="content">
  <%= render '/shared/current_tuition_fees' %>
  <div class="col-6">
    <%= link_to 'Novo Plano', new_tuition_fee_path, class: 'btn btn-primary' %>
  </div>
  <br>
  <%= render '/shared/current_rent_fee' %>
  <div class="col-6">
    <%= link_to 'Novo Aluguel', new_rent_path, class: 'btn btn-primary' %>
  </div>
  <br>
  <%= render '/shared/current_discounts' %>
  <div class="col-6">
    <%= link_to 'Novo Desconto', new_discount_path, class: 'btn btn-primary' %>
  </div>
</section>
