<%= form_with(model: student_plan, local: true) do |form| %>
  <% if student_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student_plan.errors.count, "error") %> prohibited this student_plan from being saved:</h2>

      <ul>
        <% student_plan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :people_id %>
    <%= form.text_field :people_id %>
  </div>

  <div class="field">
    <%= form.label :tuition_fee_id %>
    <%= form.text_field :tuition_fee_id %>
  </div>

  <div class="field">
    <%= form.label :discount_id %>
    <%= form.text_field :discount_id %>
  </div>

  <div class="field">
    <%= form.label :rent_inclusion %>
    <%= form.text_field :rent_inclusion %>
  </div>

  <div class="field">
    <%= form.label :due_day %>
    <%= form.number_field :due_day %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
