<p id="notice"><%= notice %></p>

<h1>Student Plans</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Aulas semanais</th>
      <th>Desconto</th>
      <th>Aluga Equipamento</th>
      <th>Due day</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @student_plans.each do |student_plan| %>
      <tr>
        <td><%= student_plan.person_id %></td>
        <td><%= student_plan.weekly_classes %></td>
        <td><%= student_plan.kind_of_plan %></td>
        <td><%= student_plan.rent_inclusion %></td>
        <td><%= student_plan.due_day %></td>
        <td><%= link_to 'Show', student_plan %></td>
        <td><%= link_to 'Edit', edit_student_plan_path(student_plan) %></td>
        <td><%= link_to 'Destroy', student_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Student Plan', new_student_plan_path %>
