<section class="content">
  <div class="container-fluid">
    <%= form_with(model: belt, local: true) do |form| %>
      <% if belt.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(belt.errors.count, "error") %> prohibited this belt from being saved:</h2>

          <ul>
            <% belt.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Faixa</h3>
            </div>
            <!-- /.card-header -->
            <%= form.hidden_field :person_id, value: @person_id %>

            <div class="card-body">
              <div class="form-group">
                <h4 class="mb-0"><%= form.label :modality, 'Modalidade' %></h4>
                <% if @belt.persisted? %>
                  <%= form.select(:modality, options_for_select([[modality_name(@belt.modality), @belt.modality]]), {}, :disabled => true, class: "form-control rounded-0" )  %>
                <% else %>
                  <%= form.select(:modality, options_for_select(@modalities.map { |k, _| [modality_name(k.to_s), k]}), {}, class: "form-control rounded-0" )  %>
                <% end %>
              </div>

              <div class="form-group">
                <h4 class="mb-0"><%= form.label :color, 'Faixa' %></h4>
                <% if @belt.persisted? %>
                  <%= form.select(:color, options_for_select([[belt_color_name(@belt.color), @belt.color]]), {}, :disabled => true, class: "form-control rounded-0" )  %>
                <% else %>
                  <%= form.select(:color, options_for_select(@colors.map { |k, _| [belt_color_name(k.to_s), k]}), {}, class: "form-control rounded-0" )  %>
                <% end %>
              </div>

              <div class='form-group'>
                <h4 class="mb-0"><%= form.label :starts_at, 'Obtida em', class: "mb-0" %></h4>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                  </div>
                  <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask="" id="belt_start_date" name="belt[start_date]" value="<%= @belt.start_date.nil? ? date_to_string(Date.today) : date_to_string(@belt.start_date)%>">
                </div>
              </div>

              <div class="actions">
                <%= form.submit 'Salvar', class: 'btn btn-primary' %>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    <% end %>
  </div>
</section>